<%- include('../partials/header') %>

<main>
    <form action="/skills" method="POST">
        <input type="text" name="name">
        <button type="submit">Save skill</button>
    </form>
</main>

<%- include('../partials/footer') %>