<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Programming Skills</title>
</head>
<body>
    <header>
        <h1><%= skill.name %></h1>
    </header>
    <main>
        <a href="/">Home</a>
        |
        <a href="/skills">Back</a>
        <h4>Current level: <%= skill.level %></h4>
    </main>
    <footer>
        <p>Created by Megan Mithen | 2023</p>
    </footer>
</body>
</html>