<%- include('./partials/header') %>

    <main>
      <div id="main-page-text">
        <h2>Welcome to my site!</h2>
        <a href="/skills">Click here to see current skills</a>
      </div>
    </main>

<%- include('./partials/footer') %>