<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <div id="main-page-text">
        <h2>Welcome to my site!</h2>
        <a href="/skills">Click here to see current skills</a>
      </div>
    </main>
    <footer>
      <p>Created by Megan Mithen | 2023</p>
    </footer>
  </body>
</html>
